$bg-color: rgb(220 227 231);

.layout-content {
  &__content-page {
    background-color: $bg-color;
    padding: 4rem 3rem 6rem 3rem;
  }

  &__logo {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
}
