<form [formGroup]="formSearch" class="layout-header-data-table">
    <input
            class="layout-header-data-table__search-product"
            appInputSofka
            formControlName="searchText"
            placeholder="Search..."
    />
    <button [routerLink]="['new']" class="btn btn-primary cursor-pointer">Agregar</button>
</form>
<app-data-table
        [dataSource]="dataSource"
>
    <ng-template appDataTableTemplate name="description" type="label" let-item>
        <div class="text-column-description">
            <span>Descripción</span>
            <i class="fa-solid fa-circle-info"></i>
        </div>
    </ng-template>

    <ng-template appDataTableTemplate name="date_release" type="label" let-item>
        <div class="text-column-description">
            <span>Fecha de liberación</span>
            <i class="fa-solid fa-circle-info"></i>
        </div>
    </ng-template>

    <ng-template appDataTableTemplate name="date_revision" type="label" let-item>
        <div class="text-column-description">
            <span>Fecha de restructuración</span>
            <i class="fa-solid fa-circle-info"></i>
        </div>
    </ng-template>

    <ng-template appDataTableTemplate name="logo" type="column" let-item>
        <img [src]="item.value" alt="logo-product" (error)="addErrorClass($event, defaultImg)"/>
        <div #defaultImg class="logo-product d-none">JG</div>
    </ng-template>


    <ng-template appDataTableTemplate name="date_release" type="column" let-item>
        {{ item.value | formatDate: "DD/MM/YYYY" | notEmpty }}
    </ng-template>


    <ng-template appDataTableTemplate name="date_revision" type="column" let-item>
        {{ item.value | formatDate: "DD/MM/YYYY" | notEmpty }}

    </ng-template>

    <ng-template appDataTableTemplate name="actions" type="action" let-item>
        <div class="cursor-pointer more-actions">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
    </ng-template>
</app-data-table>
