<form [formGroup]="formSearch" class="layout-header-data-table">
    <input
            class="layout-header-data-table__search-product"
            appInputSofka
            formControlName="searchText"
            placeholder="Search..."
    />
    <button [routerLink]="['new']" class="btn btn-primary cursor-pointer">Agregar</button>
</form>
<app-data-table
        [dataSource]="dataSource"
>
    <ng-template appDataTableTemplate name="description" type="label" let-column>
        <div class="text-column-description">
            <span>Descripción</span>
            <i class="fa-solid fa-circle-info"></i>
        </div>
    </ng-template>

    <ng-template appDataTableTemplate name="date_release" type="label" let-column>
        <div class="text-column-description">
            <span>Fecha de liberación</span>
            <i class="fa-solid fa-circle-info"></i>
        </div>
    </ng-template>

    <ng-template appDataTableTemplate name="date_revision" type="label" let-column>
        <div class="text-column-description">
            <span>Fecha de restructuración</span>
            <i class="fa-solid fa-circle-info"></i>
        </div>
    </ng-template>

    <ng-template appDataTableTemplate name="logo" type="column" let-column>
        <div class="logo-product-container">
            <img [src]="column.value" class="logo-product logo-product-image" alt="logo-product" (error)="addErrorClass($event, defaultImg)"/>
            <div #defaultImg class="logo-product d-none">JG</div>
        </div>
    </ng-template>


    <ng-template appDataTableTemplate name="date_release" type="column" let-column>
        {{ column.value | formatDate: "DD/MM/YYYY" | notEmpty }}
    </ng-template>


    <ng-template appDataTableTemplate name="date_revision" type="column" let-column>
        {{ column.value | formatDate: "DD/MM/YYYY" | notEmpty }}

    </ng-template>

    <ng-template appDataTableTemplate name="actions" type="action" let-column let-item=item>
        <app-dropdown>
            <ng-template appDropdownTemplate type="menuTrigger">
                <div class="cursor-pointer more-actions">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </ng-template>
            <ng-template appDropdownTemplate type="item">
                <div class="cursor-pointer icon-action" [routerLink]="['/financial-product', item.id]">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <span>Editar</span>
                </div>
            </ng-template>
        </app-dropdown>
    </ng-template>
</app-data-table>
