<div class="layout-data-table">
    <table class="layout-data-table__content">
        <thead>
        <tr>
            @for (column of dataSource.columns; track i; let i = $index) {
                <td>
                    @if (column.overwrite_label !== undefined) {
                        <ng-container
                                [ngTemplateOutlet]="column.overwrite_label.templateRef"
                                [ngTemplateOutletContext]="{ $implicit: column }">
                        </ng-container>
                    } @else {
                        {{ column.name | notEmpty }}
                    }
                </td>
            }
        </tr>
        </thead>
        <tbody>
            @if (!loadingData) {
                @for (row of rowsSource; track i; let i = $index) {
                    <tr>
                        @for (column of row; track i; let i = $index) {
                            <td>
                                @if (column.overwrite_value !== undefined) {
                                    <ng-container
                                            [ngTemplateOutlet]="column.overwrite_value.templateRef"
                                            [ngTemplateOutletContext]="{ $implicit: column, item: column.item }">
                                    </ng-container>
                                } @else {
                                    {{ column.value | notEmpty }}
                                }
                            </td>
                        }
                    </tr>
                }
            }


            @if (!rowsSource.length && !loadingData) {
                <tr>
                    <td class="layout-data-table__text-center" [attr.colspan]="dataSource.columns.length">
                        No data found
                    </td>
                </tr>
            }

            @if (loadingData) {
                <tr>
                    <td class="layout-data-table__text-center" [attr.colspan]="dataSource.columns.length">
                        <i class="fa-duotone fa-solid fa-spinner fa-spin"></i>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>
<div class="layout-data-table layout-data-table__foot">
    <span>{{ totalRows | notEmpty }} Resultados</span>
    <select aria-label="Items per page" (change)="changePerPAge($event)">
        <option selected [value]="1">5</option>
        <option [value]="10">10</option>
        <option [value]="20">20</option>
    </select>
</div>
