<div class="layout-data-table">
    <table class="layout-data-table__content">
        <thead>
        <tr>
            @for (column of dataSource.columns; track dataSource.columns) {
                <td>
                    @if (column.overwrite_label !== undefined) {
                        <ng-container
                                [ngTemplateOutlet]="column.overwrite_label.templateRef"
                                [ngTemplateOutletContext]="{ $implicit: column }">
                        </ng-container>
                    } @else {
                        {{ column.name | notEmpty }}
                    }
                </td>
            }
        </tr>
        </thead>
        <tbody>
            @for (row of rowsSource; track row) {
                <tr>
                    @for (column of row; track column) {
                        <td>
                            @if (column.overwrite_value !== undefined) {
                                <ng-container
                                        [ngTemplateOutlet]="column.overwrite_value.templateRef"
                                        [ngTemplateOutletContext]="{ $implicit: column }">
                                </ng-container>
                            } @else {
                                {{ column.value | notEmpty }}
                            }
                        </td>
                    }
                </tr>
            }

            @if (!rowsSource.length) {
                <tr>
                    <td class="layout-data-table__text-center" [attr.colspan]="dataSource.columns.length">
                        No data found
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td [attr.colspan]="dataSource.columns.length">
                    <div class="layout-data-table__foot">
                        <span>{{ totalRows | notEmpty }} Resultados</span>
                        <select aria-label="Items per page" (change)="changePerPAge($event)">
                            <option selected [value]="5">5</option>
                            <option [value]="10">10</option>
                            <option [value]="20">20</option>
                        </select>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
